.ui-scroller-wrap {
    background: #000
}
.content-2mSKOj {
    border-radius: 0
}
.contentSelectedText-3j5CXt {
    background: #222
}
.contentHoveredText-2HYGIY,
.contentHoveredVoice-3qGNKh {
    background: #111
}

.guild-channels {
background: #000
}


