.edit-message.edit-first-message .avatar-large {
    visibility: hidden;
}

.message-group .edit-message .channel-textarea-inner,
.message-group .edit-message .channel-textarea {
    border-radius: 0px!important;
    background: transparent!important;
    box-shadow: none!important;
    opacity: 1!important
}

.message-group .edit-message .channel-textarea textarea {
    opacity: 1!important
}

.message-group .edit-message .channel-textarea-inner {
    padding: 0px!important;
    padding-bottom: 5px!important
}

.message-group .edit-message textarea {
    padding: 0px;
}
.comment .message+div .edit-message .avatar-large {
    visibility: hidden;
}

.comment .message+div .edit-message .edit-container-inner h2 {
    display: none;
}

.message-group .edit-message textarea {
    margin-left: 2px;
}

.message-group .edit-message .channel-textarea {
    margin-top: 0;
}

.edit-operation {
    padding: 0!important;
}

.theme-dark .ui-text-input .input,
.theme-dark .ui-text-input .input.editable:focus,
.theme-dark .ui-text-input .input.editable:hover{
    color:rgba(255,255,255,.95);
}
