.theme-dark .friends-table .messages .message-group-blocked.revealed,
.theme-dark .messages-wrapper .messages .message-group-blocked.revealed,
.message-group-blocked .message-group {
    background: #111
}
.chat .messages {
    background: #000
}
.theme-dark .friends-table .messages .message-group-blocked .message-group-blocked-btn,
.theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn {
    background: #111
}
.theme-dark .friends-table .messages .message-group-blocked .message-group-blocked-btn:hover,
.theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn:hover {
    background: #222
}
.theme-dark .friends-table .messages .divider.divider-red>span,
.theme-dark .messages-wrapper .messages .divider.divider-red>span,
.theme-dark .friends-table .messages .divider:before,
.theme-dark .friends-table .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span {
    background: #000
}
.message-group .comment .markup code.inline,
.theme-dark .message-group .comment .markup code.inline,
.theme-dark .message-group .comment .markup pre code,
.theme-dark .message-group .comment .markup pre,
.message-group .comment .markup pre {
    background: #111;
    border-radius: 0
}
.chat .has-more button {
    background: rgba(0, 0, 0, .1)!important;
    color: rgba(255, 255, 255, .5)!important;
    border-radius: 100px
}
.jump-to-present-bar button:first-of-type {
    display: none
}
.jump-to-present-bar {
    width: 130px!important;
    right: 10px!important;
    left: auto!important;
    border-radius: 0!important
}
.chat .jump-to-present-bar button:last-child {
    width: 130px!important;
    text-align: center
}
.theme-dark .chat .jump-to-present-bar {
    background-color: #000;
    opacity: .5
}
.theme-dark .chat .jump-to-present-bar:hover {
    background-color: #111;
    opacity: 1
}
.chat .new-messages-bar {
    border-radius: 0;
    background-color: #000;
    opacity: .85
}
.chat .new-messages-bar:hover {
    background-color: #111;
    opacity: 1;
}
.theme-dark .message-group.is-local-bot-message {
    background: transparent;
    box-shadow: 0 0;
}
.message-group {
    border: 0;
}
.horizontal-2BEEBe {
    background: #0A0B0C;
}
